{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="contractors-wrap" id="contractors">
    <div class="contractors_grid">
        {% for contractor in contractors %}
        <div class="contractor">
            <div class="contractor_image_wrap">
                <div class="contractor_images_grid">
                    {% for photo in contractor.contractorphoto_set.all %}
                    <div class="contractor_photo_col" v-on:mouseover="imageMouseOver('{{photo.photo.url}}', '{{forloop.parentloop.counter}}')"></div>
                    {% endfor %}
                </div>
                <img class="contractor_image_front" :src="current_photo['{{forloop.counter}}'] || '{{contractor.contractorphoto_set.all.0.photo.url}}'"/>
            </div>
            <div class="contractor-info-wrap">
                <div class="contractor-name-wrap">
                    <p>{{ contractor.name }}</p>
                </div>
                <div class="contractor-phone-wrap">
                    <p>{{ contractor.phone }}</p>
                </div>
                <div class="contractor-specialty-wrap">
                    <p class="contractor-specialty-text">{{ contractor.contractorspecialty_set.all.0.name }}</p>
                    <div class="contractor-specialty-counter-wrap">
                        <p class="contractor-specialty-counter" v-on:mouseover="specialtyMouseOver('{{forloop.counter}}')" v-on:mouseleave="specialtyMouseLeave('{{forloop.counter}}')">и еще {{ contractor.contractorspecialty_set.all | length }}</p>
                        <div class="contractor-specialty-popup" v-show="specialty_flag['{{forloop.counter}}'] || false">
                            {% for specialty in contractor.contractorspecialty_set.all %}
                            <p>{{ specialty.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="contractor-services-wrap">
                    <div class="contractor-services-button">
                        <p>услуги</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
new Vue({
  delimiters: ['${', '}'],
  el: '#contractors',
  data: {
    current_photo: {},
    specialty_flag: {}
  },
  methods: {
    specialtyMouseOver(index) {
        Vue.set(this.specialty_flag, index, true);
    },
    specialtyMouseLeave(index) {
        Vue.set(this.specialty_flag, index, false);
    },
    imageMouseOver (imageUrl, index) {
        Vue.set(this.current_photo, index, imageUrl);
    }
  }
});
</script>
{% endblock %}