<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}" />
    <title>B-MARKET</title>
</head>
<body>
    <div class="about-wrap">
        <div class="about">
            <p>
                B-MARKET - сервис для строителей
            </p>
            <a href="/" class="back-button-link">
                <div class="back-button">
                    <p>назад</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>