<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>B-MARKET</title>
</head>
<body>
    <div class="main" id="main">
        <div class="left_part">
            <a href="/about" class="about_link">
                <div class="logo">
                    <p>B&#183;MARKET</p>
                </div>
            </a>
            <div class="main_menu" id="main_menu">
                <div class="main_menu_elem {% if active == 'products'%}active{% endif %}"><a href="/"><p>товары</p></a></div>
                <div class="main_menu_elem {% if active == 'services'%}active{% endif %}"><a href="/services"><p>услуги</p></a></div>
                <div class="main_menu_elem favorits_flag_wrap">
                    <div class="favorits_label" v-on:click="changeFavoriteFlag()">
                        <p v-if="favoritFlag">все</p>
                        <p v-else>избранное</p>
                    </div>
                    <label class="switch">
                      <input type="checkbox" v-model="favoritFlag">
                      <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="feedback-wrapp">
                <div class="feedback-button">
                    <img src="{% static 'app/img/email.svg' %}">
                </div>
            </div>
        </div>
        <div class="right_part">
            <div class="top_pane" id="top_pane">
                <input placeholder="что вы ищете?" v-model="searchQuery" v-on:input="search({% if active == 'products'%}'product'{% else %}'service'{% endif %})">
                <div class="city" v-on:click.stop="cityChoosen()"><p class="city-choosen-p">Воронеж</p>
                    <div class="city-popup" v-if="cityChoosenFlag" v-on:click.stop="">
                        <input placeholder="город">
                        <div class="border border-city"></div>
                        <div class="city-popup-content">
                            <p>Воронеж ВоронежВоронеж</p>
                            <p>Воронеж</p>
                            <p>Воронеж</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <!--<div class="dotted"></div>-->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<script>
new Vue({
  delimiters: ['${', '}'],
  el: '#main_menu',
  data: {
      favoritFlag: false
  },
  methods: {
      changeFavoriteFlag() {
          this.favoritFlag = !this.favoritFlag;
      }
  }
});
</script>
<script>
new Vue({
  delimiters: ['${', '}'],
  el: '#top_pane',
  data: {
      cityChoosenFlag: false,
      searchQuery: ''
  },
  methods: {
      search(method) {
          console.log(method);
          var url = "";
          if (method == 'product') {
              url = '/get_tags_products';
          } else {
              url = '/get_tags_services';
          }
          axios
            .get(url, {
                params: {
                    query: this.searchQuery
                }
            })
            .then(response => (console.log(response)))
            .catch(error => console.log(error));
      },
      cityChoosen() {
          this.cityChoosenFlag = !this.cityChoosenFlag
      }
  }
});
</script>
</html>
