<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>B-MARKET</title>
</head>
<body>
    <div class="main">
        <div class="left_part">
            <div class="logo">
                <p>B&#183;MARKET</p>
            </div>
            <div class="main_menu">
                <div class="main_menu_elem {% if active == 'products'%}active{% endif %}"><a href="/"><p>товары</p></a></div>
                <div class="main_menu_elem {% if active == 'services'%}active{% endif %}"><a href="/services"><p>услуги</p></a></div>
            </div>
        </div>
        <div class="right_part">
            <div class="top_pane">
                <input placeholder="что вы ищете?">
                <div class="city"><p>Воронеж</p></div>
            </div>
            <div class="content">
                <!--<div class="dotted"></div>-->
                {% block content %}
                {% endblock %}
                <div class="paginator_wrapp">
                    <div class="paginator">
                        {% block paginator %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>