@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Notable');

@font-face {
    font-family: logo;
    src: url("/static/app/fonts/logo.ttf");
}
@font-face {
    font-family: logo2;
    src: url("/static/app/fonts/logo2.ttf");
}


p, a, h1, h2, h3, h4, span, b, input, button, div {
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding:0;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: #E6E6E6;
    margin:0;
    padding:0;
}
.left_part {
    width: 200px;
    height: 100%;
    background: #2C3E50;
    float: left;
}
.logo {
    width: 100%;
    height: 40px;
    background-color: #E74C3C;
    text-align: center;
}
.logo p {
    padding: 5px;
    font-size: 22pt;
    margin: 0;
    color: white;
    font-family: 'logo', sans-serif;
}
.main_menu{
    width: 100%;
    height: auto;
}
.main_menu_elem {
    width: 100%;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.main_menu_elem a {
    text-decoration: none;
}
.main_menu_elem.active{
    background-color: rgba(35, 106, 185, 0.5);
}
.main_menu_elem:hover{
    background-color: rgba(35, 106, 185, 0.2);
}
.main_menu_elem p {
    margin: 0;
    color: white;
    font-size: 16pt;
    padding: 5px;
}
.right_part{
    position: relative;
    width: calc(100% - 200px);
    height: 100%;
    float: left;
}
.top_pane {
    width: calc(100% - 200px);
    height: 40px;
    position: fixed;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    z-index: 9;
}
.top_pane input {
    width: calc(100% - 150px);
    float: left;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14pt;
}
.city{
    float: left;
    height: 100%;
    width: 150px;
    text-align: center;
    background-color: #3498DB;
}
.city p {
    margin:0;
    color: white;
    padding: 7px;
    font-size: 14pt;
}

.paginator_wrapp{
    position: fixed;
    width: calc(100% - 200px);
    bottom: 0;
    z-index: 99;
}

.paginator {
    position: relative;
    width: 260px;
    height: 0;
    margin: auto;
    background-color: white;
}
.paginator_elem {
    padding: 8px;
    background-color: white;
    cursor: pointer;
}
.paginator_elem:hover{
    background-color: #d1d1d1;
}
.paginator_elem img{
    width: 100%;
    height: 100%;
}
.paginator_first {
    position: absolute;
    top: -40px;
    left: 0;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 99;
}
.paginator_prev{
    position: absolute;
    top: -40px;
    left: 40px;
    width: 40px;
    height: 40px;
    float: left;
}
.paginator_current{
    position: absolute;
    top: -40px;
    left: 80px;
    width: 100px;
    height: 40px;
    float: left;
    text-align: center;
    background-color: white;
}
.paginator_current p {
    font-size: 14pt;
    color: #333333;
    margin: 0;
    margin-top: 6px;
}
.paginator_next{
    position: absolute;
    top: -40px;
    left: 180px;
    width: 40px;
    height: 40px;
    float: left;
}
.paginator_last {
    position: absolute;
    top: -40px;
    left: 220px;
    width: 40px;
    height: 40px;
    float: left;
}

.content{
    width: calc(100% - 200px);
    height: calc(100% - 40px);
    position: fixed;
    top: 40px;
    background-color: #ECF0F1;
    overflow-y: auto;
    z-index: 8;
}
.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.content::-webkit-scrollbar-thumb {
    background-color: rgba(41, 128, 185, 0.1);
}
.products_wrapper{
    width: 100%;
    height: 100%;
}
.products_grid{
    padding: 20px;
    padding-bottom: 60px;
    background-color: #ECF0F1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: 350px;
}
.product{
    cursor: pointer;
    background-color: white;
}
.product-link:hover {
    text-decoration: none;
}
.product_image{
    width: 100%;
    height: 200px;
    float: left;
    background-color: white;
    position: relative;
}
.product_photo_hover_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    grid-template-rows: 1;
    z-index: 1;
}
.product_image_front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    object-fit: cover;
}
.product_photo_col{
}
.product_text{
    width: 100%;
    height: 145px;
    float: left;
    background-color: #ECF0F1;
}

.product_main_info{
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: white;
    padding: 10px 15px;
}

.product_name {
    width; 100%;
    height: 30px
}

.product_name p {
    color: #333333;
    font-size: 14pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
    padding:0;
    float: left;
}

.product_price {
    width: 100%;
    height: 30px;
}

.product_price p{
    color: #333333;
    font-size: 14pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
    product:0;
    float: left;
}

.product_store_wrap {
    width: 100%;
    height: 30px;
}

.product_store_wrap p{
    float: left;
    width: calc(100% - 40px);
    height: 40px;
    text-align:left;
    background-color: white;
    padding: 7px;
    padding-left: 15px;
    float: left;
}

.product_store {
    width: 100%;
    height: 30px;
}

.product_store p{
    color: #333333;
    font-size: 14pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
    product:0;
    float: left;
}

.product_site_link_wrap{
    width: 100%;
    height: 30px;
    float: left;
}
.product_site_link_button {
    width: 100px;
    height: 30px;
    float: left;
    background-color: #ECF0F1;
    text-align: center;
}
.product_site_link_button_text {
    color: #333333;
    font-size: 12pt;
    margin:0;
    margin-top: 3px;
}

.product_site_link_button:hover {
    background-color: #3498DB;
}

.product_site_link_button:hover .product_site_link_button_text{
    color: white;
}

.product-wrap {
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    background-color: white;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.product-detail-image-wrap{
    width: 60%;
    height: 60%;
    float: left;
    position: relative;
}

.product-detail-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail-info-wrap{
    float: left;
    width: 40%;
    height: 60%;
    padding: 15px 0px 15px 20px;
}

.product-detail-name {
    height: 30px;
    width: calc(100% - 40px);
    float: left;
    float: left;
}
.product-detail-name p {
    margin: 0;
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}


.product-detail-price {
    height: 30px;
    width: 100%;
    float: left;
    margin-top: 10px;
    float: left;
}

.product-detail-price-text {
    margin: 0;
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
    float: left;
}

.product-detail-site-wrap {
    width: 100px;
    height: 30px;
    margin-right: 20px;
    float: right;
}

.product-detail-site-link-button{
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
    text-align: center;
    cursor: pointer;
}

.product-detail-site-link-button:hover {
    background-color: #3498DB;
}

.product-detail-site-link-button:hover .product-detail-site-link-button-text {
    color: white;
}

.product-detail-site-link-button-text {
    font-size: 12pt;
    margin: auto;
    padding-top: 4px;
}

.product-detail-uses {
    width: 100%;
    height: calc(100% - 10px - 30px - 10px - 10px - 10px - 10px);
    float: left;
    margin-top: 10px;
}

.product-detail-uses-header{
    color: #333333;
    font-size: 14pt;
    margin: 0;
    margin-bottom: 5px;
}

.product-detail-uses-item-wrap{
    width: 100%;
    padding-right: 20px;
    height: 100%;
    overflow-y: auto;
}
.product-detail-uses-item-wrap::-webkit-scrollbar {
    width: 10px;
}

.product-detail-uses-item-wrap::-webkit-scrollbar-track {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.product-detail-uses-item-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(41, 128, 185, 0.1);
}
.product-detail-uses-item:nth-child(2n){
    background-color: #ECF0F1;
}
.product-detail-uses-item{
    color: #333333;
    font-size: 12pt;
    margin: 0;
    padding-left: 5px;
}

.product-detail-feature-wrap{
    float: left;
    width: 60%;
    height: 40%;
    background-color: white;
    padding: 10px 20px;
}

.product-detail-features {
    width: 100%;
    height: 100%;
    background-color: white;
    float: left;
    overflow-y: auto;
    text-align: left;
}

.product-detail-features-header {
    font-size: 16pt;
    color: #333333;
    margin: 0;
}

.product-detail-feature-table{
    width: 100%;
}

.product-detail-feature-table tr:nth-of-type(2n) {
    background-color: #ECF0F1;
}

.product-detail-feature-table p{
    color: #333333;
    font-size: 12pt;
    margin: 0;
    padding-left: 5px;
}

.product-detail-store-wrap{
    width: 40%;
    height: 40%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #ECF0F1;
}

.product-detail-store-wrap p {
    color: white;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-detail-store-content{
    width: 100%;
    height: 100%;
    background-color: #2C3E50;
    padding: 10px 15px;
    overflow-y: auto;
}

.product-detail-store-content::-webkit-scrollbar {
    width: 10px;
}

.product-detail-store-content::-webkit-scrollbar-track {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.product-detail-store-content::-webkit-scrollbar-thumb {
    background-color: rgba(41, 128, 185, 0.3);
}

.product-detail-store-title-wrap{
    width: 100%;
    height: 30px;
}
.product-detail-store-title-wrap p {
    font-size: 16pt;
}
.product-detail-store-address-wrap{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.product-detail-store-address-wrap p {
    font-size: 12pt;
}

.product-detail-store-phone-wrap{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.product-detail-store-phone-wrap p {
    font-size: 14pt;
}

.product-detail-store-worktime-wrap{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.product-detail-store-worktime-wrap p {
    font-size: 12pt;
}

.product-detail-store-site-wrap{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.product-detail-store-site-wrap a {
    text-decoration: none;
}
.product-detail-store-site-button{
    width: 100px;
    height: 100%;
    background-color: #ECF0F1;
    text-align:center;
}
.product-detail-store-site-button:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}
.product-detail-store-site-button p {
    color: #333333;
    margin: 0;
    font-size: 12pt;
    padding-top: 3px;
}

.stores_wrapper{
    width: 100%;
    height: 100%;
}

.stores_grid{
    padding: 20px;
    padding-bottom: 60px;
    background-color: #ECF0F1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: 390px;
}
.store{
    cursor: pointer;
    background-color: white;
}
.store:hover .store_main_info p{
    color: black;
}

.store_text{
    width: 100%;
    height: 190px;
    float: left;
    background-color: white;
    padding: 15px 20px;
}

.stores_image_wrap {
    width: 100%;
    height: 200px;
    float: left;
    background-color: white;
    position: relative;
}
.stores_images_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    grid-template-rows: 1;
    z-index: 1;
}

.store_image_front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    object-fit: cover;
}

.store_name {
    font-size: 16pt;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store_name p {
    color: #333333;
    margin:0;
}
.store_address {
    font-size: 12pt;
    margin: 0;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store_address p {
    color: #333333;
    margin:0;
}
.store_phone {
    font-size: 12pt;
    margin: 0;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store_phone p {
    color: #333333;
    margin:0;
}
.store-worktime-wrap {
    font-size: 12pt;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store-worktime-wrap p {
    color: #333333;
    margin:0;
}
.store-site-wrap{
    width: 100%;
    height: 30px;
}
.store-site-wrap a {
    text-decoration: none;
}
.store-site-button{
    width: 100px;
    height: 100%;
    background-color: #ECF0F1;
    text-align:center;
}
.store-site-button:hover {
    background-color: #3498DB;
}
.store-site-button:hover p{
    color: white;
}
.store-site-button p {
    color: #333333;
    margin: 0;
    font-size: 12pt;
    padding-top: 3px;
}

.store-detail-wrap{
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    background-color: #ECF0F1;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.store-link:hover {
    text-decoration: none;
}

.store-detail-info-wrap {
    width: calc(50% - 20px);
    height: 100%;
    margin-right: 20px;
    float: left;
}

.store-detail-info-image-wrap{
    width: 100%;
    height: 50%;
}
.store-detail-info-image-front{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store-map-wrap{
    width: 50%;
    height: 100%;
    float: left;
}

.store-map {
    width: 100%;
    height: 100%;
}

.store-detail-info-content-wrap{
    width: 100%;
    height: 50%;
    float: left;
    padding: 15px 15px 15px 20px;
    background-color: white;
}

.store-detail-info-content-name {
    width: 100%;
    height: 30px;
}

.store-detail-info-content-name p {
    color: #333333;
    font-size: 14pt;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-detail-info-content-address {
    width: 100%;
    height: 30px;
}

.store-detail-info-content-address p {
    color: #333333;
    font-size: 12pt;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-detail-info-content-phone{
    width: 100%;
    height: 30px;
}
.store-detail-info-content-phone p {
    color: #333333;
    font-size: 12pt;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store-detail-info-content-worktime {
    width: 100%;
    height: 30px;
}
.store-detail-info-content-worktime p {
    color: #333333;
    font-size: 12pt;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-detail-info-content-description {
    width: 100%;
    height: 90px;
    overflow-y: auto;
    margin-top: 10px;
}

.store-detail-info-content-description::-webkit-scrollbar {
    width: 10px;
}

.store-detail-info-content-description::-webkit-scrollbar-track {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.store-detail-info-content-description::-webkit-scrollbar-thumb {
    background-color: rgba(41, 128, 185, 0.1);
}

.store-detail-info-content-description p {
    color: #333333;
    font-size: 12pt;
    margin: 0;
}

.store-detail-info-content-sitelink-wrap {
    width: 100%;
    height: 30px;
}
.store-detail-info-content-sitelink-button {
    width: 100px;
    height: 30px;
    background-color: #ECF0F1;
    text-align: center;
    cursor: pointer;
}

.store-detail-info-content-sitelink-button-text {
    color: #333333;
    font-size: 12pt;
    padding-top: 4px;
    margin: 0;
}

.store-detail-info-content-sitelink-button:hover {
    background-color: #3498DB;
}

.store-detail-info-content-sitelink-button:hover .store-detail-info-content-sitelink-button-text {
    color: white;
}

.contractors-wrap {
    width: 100%;
    height: 100%;
}

.contractors_grid {
    padding: 20px;
    padding-bottom: 60px;
    background-color: #ECF0F1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: 350px;
}

.contractor {
    background-color: white;
}

.contractor_image_wrap {
    width: 100%;
    height: 200px;
    float: left;
    background-color: white;
    position: relative;
}

.contractor_images_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    grid-template-rows: 1;
    z-index: 1;
}

.contractor_image_front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    object-fit: cover;
}

.contractor-info-wrap{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    float: left;
}

.contractor-name-wrap {
    width: 100%;
    height: 30px;
    float: left;
}
.contractor-name-wrap p {
    color: #333333;
    font-size: 14pt;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contractor-phone-wrap {
    width: 100%;
    height: 30px;
    float: left;
}
.contractor-phone-wrap p {
    color: #333333;
    font-size: 14pt;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contractor-specialty-wrap {
    width: 100%;
    height: 30px;
    float: left;
}
.contractor-specialty-text {
    color: #333333;
    font-size: 12pt;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.contractor-specialty-counter-wrap {
    width: auto;
    height: 30px;
    float: right;
    position: relative;
}
.contractor-specialty-counter {
    font-size: 12pt;
    color: #3498DB;
    cursor: pointer;
}

.contractor-specialty-popup {
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    bottom:30px;
    right: 10px;
    padding: 5px 10px;
    z-index: 99;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.contractor-specialty-popup p {
    white-space: nowrap;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    font-size: 12pt;
    color: #333333;
}

.contractor-specialty-popup p:nth-child(2n) {
    background-color: #ECF0F1;
}

.contractor-services-wrap {
    width: 100%;
    height: 30px;
    float: left;
}
.contractor-services-button {
    width: 100px;
    height: 30px;
    background-color: #ECF0F1;
    text-align: center;
    cursor: pointer;
}
.contractor-services-button p {
    color: #333333;
    padding-top: 3px;
    font-size: 12pt;
}

.contractor-services-button:hover {
    background-color: #3498DB;
}

.contractor-services-button:hover p {
    color: white;
}